{{#if productsa}}
<div class="container m-auto bg-dark rounded ">
    <div class="container d-flex flex-column-reverse mt-2  bg-dark p-2 rounded ">
        <div class="rounded">
            <table class='w-100 bg-info py-10 mt-2  mx-auto items-center p-2 rounded'>
                <thead class='bg-light text-start rounded'>
                    <tr>
                        <th>Product _ID</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Description </th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Stock</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody class='bg-info rounded'>

                    {{#each productsa}}
                    <tr>
                        <td><span class=" mx-2">{{lookup this "id"}}</span></td>
                        <td><span class=" mx-2">{{lookup this "Title"}}</span></td>
                        <td><span class=" mx-2">{{lookup this "Price"}}</span></td>
                        <td><span class=" mx-2">{{lookup this "Description"}}</span></td>
                        <td><span class=" mx-2">{{lookup this "Category"}}</span></td>
                        <td><span class="mx-2"> {{lookup this "Status"}}</span></td>
                        <td><span class="mx-2"> {{lookup this "Stock"}}</span></td>
                        <td><span class="mx-2"> {{lookup this "Code"}}</span></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/if}}