<div class="container">
{{#if canAddToCart}}  
  <div class="p-2 m-1 h-100 mt-10 mx-auto  items-center bg-info d-flex justify-content-center align-items-center rounded ">
    <form id="delete-form" method="GET" action="/products/realTimeCart/delete">
      <input class="btn btn-danger btn-sm my-1" type="submit" value="Delete Cart" />
    </form>
    <form id="purchase-form" method="post" action="/products/realTimeCarts/purchase">
      <input class="btn btn-primary btn-sm ms-1" type="submit" value="Purchase Products" />
    </form>
  </div>
  <div>
    <form action="/products/realTimeCarts/add" method="post" id="form-carts"
      class="p-2 m-1 h-100 mt-10 mx-auto  items-center bg-info d-flex justify-content-center align-items-center rounded">
      <div>
        <select id="product" name="product" class="gap-1 border-botton  border-2 ">
          <option value="" class="gap-1 border-botton  border-2 ">-- Choose Product --</option>
          {{#each products}}
          <option value="{{this.id}}"> cod: {{this.id}} - {{this.Title}} - {{this.Price}} - Qty:{{this.Stock}}</option>
          {{/each}}
        </select>
        <input class="gap-1 border-botton  border-2  my-1 me-1" placeholder="Product Quantity" type="number" name="Quantity" />
      </div>
      <div>
        <input class="p-1 btn btn-secondary btn-sm my-1" type="submit" value="Add products" />
        <input class="p-1 btn btn-danger btn-sm" type="reset" value="Reset form">
      </div>
    </form>
  </div>
{{/if}}
  

  {{#if carts}}
  <div class=" m-auto bg-dark">
    <div class="py-10 mt-2 mx-auto flex items-center bg-info">
      <ul>
        {{#each carts}}
        <li class="flex items-center">Product Id: {{this.lid}} Title: {{this.lTitle}} Quantity: {{this.lQua}} Price: {{this.lPrice}} = Line Tot:
          {{this.lTotLine}}  </li>
        {{/each}}
        <li class="flex items-center">Total : {{lTotal}}</li>
      </ul>
    </div>
  </div>
  {{/if}}


</div>